{% extends 'WXRCommonBundle::admin_layout.html.twig' %}

{% block content %}

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn list" href="{{ path('wxr_geo_region_list') }}"><i class="icon-th-list"></i> {{ 'wxr_geo.region.list'|trans }}</a>
  </div>
</div>

<form action="{{ path('wxr_geo_region_edit', { id: region.getId() }) }}" {{ form_enctype(form) }} method="POST">

  {{ form_widget(form) }}

  <div class="form-actions">
    <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> {{ 'wxr_geo.region.save'|trans }}</button>
    <button class="btn" type="reset"><i class="icon-refresh"></i> {{ 'wxr_geo.region.reset'|trans }}</button>
    <a href="{{ path('wxr_geo_region_delete', { id: region.getId() }) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'wxr_geo.region.delete'|trans }}</a>
  </div>

</form>

{% endblock %}
