{% extends "WXRCommonBundle::admin_layout.html.twig" %}

{% block content %}
<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-primary" href="{{ path('wxr_geo_city_add') }}"><i class="icon-plus icon-white"></i> {{ 'wxr_geo.city.add'|trans }}</a>
  </div>
</div>

{% if cities %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>{{ 'wxr_geo.city.postal_code'|trans }}</th>
      <th>{{ 'wxr_geo.location.name'|trans }}</th>
      <th>{{ 'wxr_geo.location.region'|trans }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
{% for city in cities %}
    <tr>
      <td>{{ city.getPostalCode() }}</td>
      <td>{{ city.getName() }}</td>
      <td>{% if city.getRegion() %}{{ city.getRegion().getName() }}{% endif %}</td>
      <td>
        <div class="btn-group">
          <a class="btn" href="{{ path('wxr_geo_city_edit', { id: city.getId() }) }}"><i class="icon-pencil"></i></a>
          <a class="btn btn-danger" href="{{ path('wxr_geo_city_delete', { id: city.getId() }) }}"><i class="icon-trash icon-white"></i></a>
        </div>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% else %}
<p>{{ 'wxr_geo.city.none'|trans }}</p>
{% endif %}
{% endblock %}
