{% extends "WXRGeoBundle::admin_layout.html.twig" %}

{% block content %}

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn list" href="{{ path('wxr_geo_location_list') }}"><i class="icon-th-list"></i> {{ 'wxr_geo.location.list'|trans }}</a>
  </div>
</div>

<form action="{{ path('wxr_geo_location_edit', { id: location.getId() }) }}" {{ form_enctype(form) }} method="POST">

  {{ form_widget(form) }}

  <div class="form-actions">
    <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> {{ 'wxr_geo.location.save'|trans }}</button>
    <button class="btn" type="reset"><i class="icon-refresh"></i> {{ 'wxr_geo.location.reset'|trans }}</button>
    <a href="{{ path('wxr_geo_location_delete', { id: location.getId() }) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'wxr_geo.location.delete'|trans }}</a>
  </div>

</form>

{% endblock %}
