{% extends "WXRGeoBundle::admin_layout.html.twig" %}

{% block content %}

<h3>{{ 'wxr_geo.region.delete_confirm'|trans }}</h3>

<ul>
    <li>{{ region }}</li>
</ul>

<div class="form">
    <div class="form-actions">
        <a href="{{ path('wxr_geo_region_admin_delete', { id: region.getId(), confirm:true }) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'Yes'|trans }}</a>
        <a href="{{ path('wxr_geo_region_admin_list') }}" class="btn"><i class="icon-trash"></i> {{ 'No'|trans }}</a>
    </div>
</div>

{% endblock %}
